
#yd{
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-color: #315F6E;
}
#ztl{
    width: 100%;
    position:absolute;
    top:0;
    float: left;
}
#ztl img{
    height: 100%;
    width: 100%;
}
/*第一部分*/
#f{
    height:48px;
    width:100%;
    background-color: #315F6E;
    position: absolute;
    top:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/*logo*/
#f-f{
    height:25px;
    width:75px;
    margin-left:8px;
}
#f-f img {
    height: 100%;
    width: 100%;
}
/*搜索框*/
#ff{
    height:24px;
    width:200px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
#f-s{
    height:100%;
    width:100%;
    background-color: #999999;
    border-radius: 12px;
    opacity: 0.5;
    position: relative;
    display: flex;
    align-items: center;
}
/*语音按钮*/
#fs-f{
    height:17px;
    width:17px;
    position: absolute;
    float: left;
    left:8px;
    top:4px;
}
#fs-f a img{
    width:100%;
    height: 100%;
}
/*搜索内容*/
#fs-s{
    position: absolute;
    float: left;
    left:28px;
    top:1px;
}
#fs-s input{
    border: none;
    outline: none;
    background-color:transparent;
    font-size: 12px;
    color:#333333;
}
/*搜索标志*/
#fs-t{
    height: 17px;
    width: 17px;
    position: absolute;
    float:left;
    right: 8px;
    top:4px;
}
#fs-t a img{
    width:100%;
    height: 100%;
}
/*历史记录*/
#f-t{
    height:18px;
    width:18px;
}
#f-t a img{
    height: 100%;
    width: 100%;
}
/*加号*/
#f-tr{
    height:18px;
    width:18px;
}
#f-tr a img{
    height: 100%;
    width: 100%;
}
/*第二部分*/
/*48*/
#s{
    height:48px;
    width:100%;
    background-color: #315F6E;
    position:absolute;
    top:70px;
    display: flex;
    align-items: center;
    float: left;
}
/*70周年*/
#s-f{
    height: 38px;
    width: 60px;
    float: left;
}
#s-f a img{
    height:100%;
    width: 100%;
}
/*标题*/
#s-s{
    width: 276px;
    height: 38px;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#s-s a{
    color: white;
}
#s-t{
    width: 17px;
    height: 17px;
    position: absolute;
    float: left;
    right: 10px;
}
#s-t a  img{
    height: 100%;
    width:100%;
}
/*第三部分*/
#t{
    width:100%;
    position: absolute;
    top:118px;
}
#t a img{
    width:100%;
}

/*轮播点*/
#ts-f a{
    height:19.19%;
    width:31.99%;
    /*background-color: #c20c0c;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0.5%;
    right: 3%;
}
.ts-s{
    height:16%;
    width:15%;
    background-color: white;
    border-radius: 3px;
    opacity: 0.7;
}
#ts-s{
    position: absolute;
    bottom:3%;
    left:3%;
}
#ts-s a span{
    color:white;
    font-size: 13px;
    font-family: "方正兰亭圆简体";
}

/*第四部分*/
#fo {
    height:80px;
    /*background-color: #c20c0c;*/
    display: flex;
    align-items: center;
    position:relative;
    top:274px;
    justify-content: space-around;
}
.fo-f{
    height:50px;
    width:86px;
    border-radius: 5px;
    background-color: #F4F8FB;

}
.fo-s span{
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 10%;
}
.fo-t span{
    font-size: 11px;
    color: #333333;
    margin-left: 10%;
}
/*第五部分*/
#fi{
    height:2.72%;
    width: 100%;
    position: relative;
    top:270px;
}
/*快报*/
#fi-f{
    height:90%;
    width: 23.19%;
    float: left;
    margin-left: 3%;
}
#fi-f img{
    width: 100%;
    height: 100%;
}
/*热搜*/
#fi-s{
    height:90%;
    width:7.5%;
    border-radius: 3px;
    background-color: #c20c0c;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    margin-top: 4px;
}
#fi-s span{
    color:white;
    font-size: 10px;
}
/*标语*/
#fi-t{
    height:72%;
    width:51%;
    /*background-color: #c20c0c;*/
    float: left;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-left: 3%;
}
#fi-t span{
    font-size: 15px;
    color: #1E1E1E;
}
/*箭头*/
#fi-fo{
    height:63.7%;
    width: 3.75%;
    float: left;
    margin-left: 3%;
}
#fi-fo img{
    /*height: 100%;*/
    width: 100%;
}
/*第六部分*/
#si{
    height: 100px;
    width: 100%;
    position:relative;
    top:300px;
}
#sis{
    height:104px;
    width: 175px;
    float: left;
    position: absolute;
    left: 6px;
}
#sif{
    height:104px;
    width: 175px;
    position: absolute;
    float:left;
    left: 190px;
}
#sit{
    height:104px;
    width: 175px;
    float: left;
    position: absolute;
    left: 6px;
    top:164px;
}

#sifo{
    height:104px;
    width: 175px;
    position: absolute;
    float:left;
    left: 190px;
    top:164px;
}
#sifi{
    height:104px;
    width: 175px;
    position: absolute;
    float:left;
    left: 6px;
    top:328px;
}
#sisi{
    height:104px;
    width: 175px;
    position: absolute;
    float:left;
    left: 190px;
    top:328px;
}
/*节目图片*/
.si-f{
    height:104px;
    width: 180px;
    position:absolute;
}
.si-f img{
    height: 100%;
    width: 100%;
}
.sif-f{
    float: right;
    height: 19.1%;
    width: 17.96%;
    border-radius:0 0 3px  3px;
    position: absolute;
    background-color: #FF9200;
    top: 0;
    right:4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sif-f span{
    color: white;
    font-size: 14px;
}
.sif-s{
    position: absolute;
    bottom:2%;
    right: 4%;
}
.sif-s span{
    color: white;
    font-size: 12px;
}
/*节目名称*/
.si-s{
    color: #333333;
    font-size: 15px;
    position: absolute;
    top:114px;
}
.si-t{
    color: #999999;
    position: absolute;
    font-size: 13px;
    top:134px;
}


/*第七部分*/
#se{
    height:7%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    z-index: 1;
    background-color: white;
}

#se-f{
    height:32px;
    width: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*top: 10px;*/
    background-color: #20BC22;
}
#se-f img{
    height:20px;
    width: 20px;
}
.se-t{
    margin-left: 4px;
    color: #20BC22;
    font-size: 12px;
}
#se-s{
    height:32px;
    width: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*top: 10px;*/
    border:1px #20BC22 solid;
}
#se-s img{
    height:20px;
    width: 20px;
}

#se-t{
    height:32px;
    width: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*top: 10px;*/
    border:1px #20BC22 solid;
}
#se-t img{
    height:20px;
    width: 20px;
}

#se-fo{
    height:32px;
    width: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*top: 10px;*/
    border:1px #20BC22 solid;
}
#se-fo img{
    height:20px;
    width: 20px;
}