/*外边框*/
#bk{
    /*width: 100%;*/
    /*height: 812px;*/
    background-color: #F5F5F5;
    /*margin: 0;*/
}
#ztl{
    /*height:20px;*/
    width: 100%;
    /*background-color: #c20c0c;*/
}
#ztl img{
    height: 100%;
    width: 100%;
}
/*第一部分*/
#f{
    width: 100%;
    height: 44px;
    background-color: #222222;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:0;
}
#f-f{
    margin: auto;
}
#f-f span{
    color:white;
    font-size: 16px;
}
#f-s{
height: 16px;
width: 16px;
    position: absolute;
    left:10px;
}
#f-s img{
height: 100%;
width: 100%;
}


/*第二部分*/
#s{
    height: 120px;
    width: 100%;
    /*border: 1px red solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#s div{
    height:50px;
    width: 160px;
    /*border: #c20c0c;*/
}
#s div img{
    height: 100%;
    width: 100%;
}


/*第三部分*/
#t{
    width: 100%;
    height: 300px;
    position: relative;
}
/*输入框*/
#t form{
width: 92%;
    position: absolute;
    left: 14px;
    /*margin-right:20px;*/
    /*padding-left: 10px;*/
}
#t form input{
    width: 100%;
    height: 40px;
    border:none;
    border-bottom: 1px #E6E6E6 solid;
    background-color:#F5F5F5 ;
    margin-bottom: 10px;
    outline: none;
}
/*验证码*/
#tf{
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
}
#tf input{
   float:left;
}
#tf  a{
    font-size:12px;
    color:#20BC22 ;
    position: absolute;
    right:10px;
    top:66px;
}
/*注册按钮*/
#ts{
    height:46px;
    width:100%;
    background-color: #20BC22;
    border-radius: 23px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ts p{
    color: white;
    font-size: 16px;
}
/*同意及返回首页*/
#tt{
    width: 100%;
    height:20px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*用户协议*/
#tt-f{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ttf-f{
    width:12px;
    height: 12px;
    border: 2px #D1D1D1 solid;
    float:left;
}

#tt-f span{
    float: left;
    font-size: 15px;
    margin-left: 2px;
    color: #757575;
}
#tt-f span a{
    color:#20BC22;
    /*text-decoration:underline #20BC22;*/
}
/*返回首页*/
#tt-s{
    font-size: 15px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tts-f{
    width:30px;
    height: 20px;
    float: right;
}
#tts-f img{
    width:100%;
    height: 100%;
}
#tts-s{
    width: 90px;
    height: 30px;
}
#tts-s span{
    color:#20BC22;
}




/*第四部分*/
#fo{
    height:300px;
    width:300px;
    /*border: 1px red solid;*/
    margin: auto;
    /*display: flex;*/
    /*!*align-items: center;*!*/
    /*justify-content: center;*/
    /*position: relative;*/
}
#fo-f{
    height: 40px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /*position: absolute;*/
    /*float: left;*/
    /*margin: auto;*/
}
#fo-f div{
    font-size: 16px;
    color:#333333;
}
#fo-s{
    height: 100px;
    width: 160px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.fos-f{
    height: 30px;
    width: 30px;
}
.fos-f a img{
    height: 100%;
    width: 100%;
}
#fff{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}