#bk{
    height:200px;
    width:700px;
    /*border:1px red solid;*/
    margin:auto;
    margin-top:50px;
}
/*第一部分*/
#div-f {
    display:flex;
}
#div-f input{
    height:25px;
    width:400px;
    border:2px #d91212 solid;
    padding-left:15px;
    float:left;
}

#div-t{
    height:31px;
    width:480px;
    position:relative;
}
#div-t a{
    display:flex;
    justify-content: center;
    align-content: center;
    height:30.5px;
    width:50px;
    background-color:#d91212;
    float:left;
}
#div-t a img{
    height:18px;
    width:20px;
}
